
@import "bourbon/bourbon"

*
  @include box-sizing(border-box)

textarea, input
  outline: none

body
  background: black
  color: white
  font-size: 15px

body, textarea
  font-family: "Courier New", Courier, monospace

.header, .gamearea
  padding: 30px

.score
  float: right

.header
  background: black
  font-size: 32px  

.content
  max-width: 800px
  margin: 40px auto
  border: 2px solid white

  .title
    font-weight: bold
    font-size: 48px

  .slogan
    font-size: 20px
    font-style: italic

  .gamearea
    background: rgb(32, 32, 32)

    .wrapper
      width: 100%
      height: 440px
      border: none
      position: relative

      .highlighter, .input
        font-size: 20px
        color: white
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0

      .input
        border: none
        background: transparent
        padding: 0
        margin: 0
        width: 100%
        height: 100%

      .highlighter
        z-index: 2
        background: transparent
        pointer-events: none
        color: rgba(0, 0, 0, 0)

        span
          background-color: white
          color: black

