
%title Spooky

%link{:href=> 'spooky.min.css?v3', :rel => 'stylesheet'}

%script{:src => 'jquery.js'}

%script{:src => 'spooky.min.js?v3'}

.content
  .header
    .score
      Score:
      %span.scorevalue NaN
    .chars
      Characters left:
      %span.charsvalue NaN
  .gamearea
    %textarea.input
      Tell us about your day... we're listening.


