
%title Spooky

%link{:href=> 'spooky.min.css?v3', :rel => 'stylesheet'}

%script{:src => 'jquery.js'}

%script{:src => 'spooky.min.js?v3'}

.content
  .header
    .score
      Suspicion:
      %span.scorevalue NaN
    .chars
      Characters left:
      %span.charsvalue NaN
  .gamearea
    .wrapper
      .highlighter
      %textarea.input
        Loading...

:javascript
   var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8462936-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

